body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.registration-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h1 {
  text-align: center;
}

.input-field {
  outline: none;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-field:focus {
  border: 1px solid #4caf50;
}

.btn {
  width: 275px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}

.link-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.link-button {
  background-color: transparent;
  color: #4caf50;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
